<%- include("partials/header") %>

    <div class="team-member">
        <div class="member">
            <figure>
                <img src="image.jpg" alt="team member image">
                <figcaption>
                    <h2>Member name</h2>
                </figcaption>
            </figure>
            <p class="description">
                Quisque non tellus orci ac auctor augue mauris augue. 
                Sed velit dignissim sodales ut. Purus non enim praesent
                elementum facilisis leo vel. Odio aenean sed adipiscing
                diam donec adipiscing tristique risus. Mauris vitae eget
                ultricies leo integer malesuada. Pellentesque elit 
                sociisgravida cum  natoque.
            </p>
        </div>
        <div class="member">
            <figure>
                <img src="image.jpg" alt="team member image">
                <figcaption>
                    <h2>Member name</h2>
                </figcaption>
            </figure>
            <p class="description">
                Quisque non tellus orci ac auctor augue mauris augue. 
                Sed velit dignissim sodales ut. Purus non enim praesent
                elementum facilisis leo vel. Odio aenean sed adipiscing
                diam donec adipiscing tristique risus. Mauris vitae eget
                ultricies leo integer malesuada. Pellentesque elit 
                sociisgravida cum  natoque.
            </p>
        </div>
        <div class="member">
            <figure>
                <img src="image.jpg" alt="team member image">
                <figcaption>
                    <h2>Member name</h2>
                </figcaption>
            </figure>
            <p class="description">
                Quisque non tellus orci ac auctor augue mauris augue. 
                Sed velit dignissim sodales ut. Purus non enim praesent
                elementum facilisis leo vel. Odio aenean sed adipiscing
                diam donec adipiscing tristique risus. Mauris vitae eget
                ultricies leo integer malesuada. Pellentesque elit 
                sociisgravida cum  natoque.
            </p>
        </div>
        

<%- include("partials/footer") %>