<%- include("partials/header") %>

<!-- Just an image -->

<div class="container">
    <div class="row">
        <div class="w-100 h-auto text-center">
            <img src="correcteur.png" class="img-fluid" alt="Image Bootstrap">
            <h2>Bienvenue sur Correcteur</h2>
            <p>| Le Blog de la Faculte des Sciences</p>
        </div>
    </div>
</div>

<!-- Scripts Bootstrap JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<%- include("partials/footer") %>